/* header */

/* Auto layout */




.container__header-inner {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 40px 0px;
   gap: 20px;

}

